hr {
    border: 0;
    height: 1px;
    background-color: #1f2937;
    margin: 2em 0;
}

.link {
    color: inherit !important;
    text-decoration: underline;
}

blockquote {
    border-color: #1f2937 !important;
}

.dark hr {
    background-color: #f2ebd4;
}

ul li::marker,
ol li::marker {
    color: #333 !important;
    margin-bottom: 0.5em;
}

.dark ul li::marker,
.dark ol li::marker {
    color: #f2ebd4 !important;
}

blockquote {
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    color: #f2ebd4;
    border-radius: 6px !important;
}

pre {
    background-color: #f2ebd4 !important;
    color: #333 !important;
    padding: .5em !important;
    border: 1px solid black;
    border-radius: 8px !important;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    overflow-x: auto;
}

.dark pre {
    background-color: #1f2937 !important;
    color: #eeeeee !important;
    border: 1px solid white;
}

.toc a.active {
    text-decoration: underline;
}

iframe {
    width: 100%;
    height: 400px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: #f2ebd4 !important;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    color-scheme: dark;
}