@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  @apply text-neutral-900 dark:bg-gray-700 dark:text-neutral-200 font-mono font-light;
}

:root {
  --bg-light: hsl(60, 53%, 93%);
}

body {
  background-color: var(--bg-light);
}

.custom-card {
  @apply bg-cream dark:bg-gray-800 border-[1px] border-black dark:border-white shadow-xl hover:shadow-2xl transition-all duration-500;
}

::placeholder {
  color: #a0aec0;
  opacity: 1;
}

input, textarea {
  padding: 0.75rem;
  margin-bottom: 0.5rem;
}

input:focus, textarea:focus {
  outline: none;
  box-shadow: none;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background: #f2ebd4;
  border: 1px solid black;
  border-radius: 6px;
  outline: rgb(219, 219, 219);
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.dark ::-webkit-scrollbar-thumb {
  background: #1f2937;
  border: 1px solid white;
}